<header class="mb-auto">
        <div>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link fw-bold py-1 px-0 <%= homeNavActive %>" href="/">Home</a>
                <a class="nav-link fw-bold py-1 px-0 <%= BMINavActive %>" href="/BMI">BMI</a>
                <a class="nav-link fw-bold py-1 px-0 <%= toDoListNavActive %>" href="/ToDoList">To Do List</a>
                <a class="nav-link fw-bold py-1 px-0 <%= weatherNavActive %>" href="/Weather">Weather</a>
                <a class="nav-link fw-bold py-1 px-0 <%= signUpNavActive %>" href="/SignUp">SignUp</a>
            </nav>
        </div>
</header>