<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToolBox</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="icon" href="images/favicon.ico?=v">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include("partials/header"); -%>
    <div class="text-bg-dark" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    <div class="box text-bg-dark">
        <% newListItems.forEach(function(item){ %>
            <form action="/ToDoList/delete" method="post">
                <div class="item">
                    <input name="checkbox" type="checkbox" value=<%= item._id %> onchange="this.form.submit()">
                    <p><%= item.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
        <% }) %>

        <form clsss="item" action="/ToDoList" method="post">
            <input class="inputToDo" type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button" value=<%= listTitle %> class="buttonToDo">+</button>
        </form>
    </div>
    <%- include("partials/footer"); -%>
</div>

<script src="js/bootstrap.esm.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
</body>


</html>