<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToolBox</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="icon" href="images/favicon.ico?=v">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('headerLayOut'); -%>
    <main class="px-3">
        <img src="<%= weatherIcon %>" width="auto" height="auto">
        <h1><%= weatherTemperature %></h1>
        <p tyle="margin-bottom: 20px" class="lead"><%= weatherDescription %></p>
        <form action="/Weather" method="post">
            <div class="mb-3">
                <label for="city" class="form-label">🌎 Write your city name to check it's weather 🌎</label>
                <input name="citySelection" id="city" class="form-control">
            </div>
            <div class="mb-3">
                <label for="tempUnit" class="form-label">🌡 Choose temperature unit 🌡</label>
                <select name="tempUnit" id="tempUnit" class="form-select">
                    <option value="0">-- Select unit --</option>
                    <option value="standard">Standard</option>
                    <option value="metric">Metric</option>
                    <option value="imperial">Imperial</option>
                </select>
            </div>
                <button type="submit" name="buttonWeather" class="btn btn-warning">Search</button>
        </form>
    </main>
    <%- include('footerLayOut'); -%>
</div>

<script src="js/bootstrap.esm.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
</body>


</html>